
Teams/Qualification Rounds/League Path Round 3/league_path_round_3_teams.csv
Fixtures, Tables and Results/Fixtures for Distance Calculation/league_stage_and_poko_fixtures.csv
Fixtures, Tables and Results/Fixtures for Distance Calculation/league_stage_and_poko_fixtures.csv
Fixtures, Tables and Results/Fixtures for Distance Calculation/league_stage_and_poko_fixtures_distances.csv
Teams/Qualification Rounds/League Path Round 3/league_path_round_3_teams.csv
Teams/Qualification Rounds/League Path Round 2/league_path_round_2_teams.csv
Teams/Qualification Rounds/League Path Play-off Round/league_path_play_off_round_teams.csv
Teams/Qualification Rounds/Champions Path Round 3/champions_path_round_3_teams.csv
Teams/Qualification Rounds/Champions Path Round 2/champions_path_round_2_teams.csv
Teams/Qualification Rounds/Champions Path Round 1/champions_path_round_1_teams.csv
Teams/Qualification Rounds/Champions Path Play-off Round/champions_path_play_off_round_teams.csv
Teams/League Stage/league_stage_teams_seeded_into_pots.csv
Teams/League Stage/league_stage_teams.csv
Teams/Domestic Leagues/WAL_league_results.csv
Teams/Domestic Leagues/UKR_league_results.csv
Teams/Domestic Leagues/TUR_league_results.csv
Teams/Domestic Leagues/SVK_league_results.csv
Teams/Domestic Leagues/SUI_league_results.csv
Teams/Domestic Leagues/SMR_league_results.csv
Teams/Domestic Leagues/SCO_league_results.csv
Teams/Domestic Leagues/RUS_league_results.csv
Teams/Domestic Leagues/POR_league_results.csv
Teams/Domestic Leagues/POL_league_results.csv
Teams/Domestic Leagues/NIR_league_results.csv
Teams/Domestic Leagues/NED_league_results.csv
Teams/Domestic Leagues/MNE_league_results.csv
Teams/Domestic Leagues/MLT_league_results.csv
Teams/Domestic Leagues/MKD_league_results.csv
Teams/Domestic Leagues/MDA_league_results.csv
Teams/Domestic Leagues/LUX_league_results.csv
Teams/Domestic Leagues/ITA_league_results.csv
Teams/Domestic Leagues/ISR_league_results.csv
Teams/Domestic Leagues/IRL_league_results.csv
Teams/Domestic Leagues/GRE_league_results.csv
Teams/Domestic Leagues/GIB_league_results.csv
Teams/Domestic Leagues/GER_league_results.csv
Teams/Domestic Leagues/GEO_league_results.csv
Teams/Domestic Leagues/FRA_league_results.csv
Teams/Domestic Leagues/ESP_league_results.csv
Teams/Domestic Leagues/ENG_league_results.csv
Teams/Domestic Leagues/DEN_league_results.csv
Teams/Domestic Leagues/CZE_league_results.csv
Teams/Domestic Leagues/CYP_league_results.csv
Teams/Domestic Leagues/BUL_league_results.csv
Teams/Domestic Leagues/BIH_league_results.csv
Teams/Domestic Leagues/BEL_league_results.csv
Teams/Domestic Leagues/AZE_league_results.csv
Teams/Domestic Leagues/AUT_league_results.csv
Teams/Domestic Leagues/ARM_league_results.csv
Teams/Domestic Leagues/ALB_league_results.csv
Fixtures, Tables and Results/Stats/total_distance_analysis.csv
Fixtures, Tables and Results/Stats/team_stats.csv
Fixtures, Tables and Results/Stats/run_distance_analysis.csv
Fixtures, Tables and Results/Stats/qualified_teams.csv
Fixtures, Tables and Results/League Stage/league_stage_table.csv
Fixtures, Tables and Results/League Stage/league_stage_results.csv
Fixtures, Tables and Results/League Stage/league_stage_fixtures.csv
Fixtures, Tables and Results/Knockout Stage/knockout_stage_results.csv
Fixtures, Tables and Results/Knockout Stage/knockout_stage_results.csv
